* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(46, 52, 59);
    color: rgb(201, 201, 201);
}

#userInputSection {
    padding-top: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#top {
    background-color:rgb(29, 34, 39);
    height: 100px;
    width: 100%;
}

#top-container {
    
    display: flex;
    padding: 1.5rem 3rem;
    
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    color: grey;
    margin-bottom: 1rem;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#newTaskForm {
    display: flex;
    background-color:rgb(37, 43, 49);
    padding: 0.5rem;
    border-radius: 1.25rem;
    margin-right: 0rem;
    font-size: 1.25rem;
}

input, button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

#newDate, .date {
    color: grey;
}

#newTask {
    color: white;
    flex: 50% 1 1;
    background-color:rgb(29, 34, 39);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

#newSubmit {
    color: rgb(193, 147, 63);
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#newSubmit:hover {
    opacity: 0.8;
}

#newSubmit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

footer {
    background-color:rgb(29, 34, 39);
    height: 100px;
    width: 100%;
}

#banner {
    color: grey;
    padding: 2.2rem;
    display: flex;

}

#sortBtns {
    text-align: right;
    margin-right: 0.4rem;
    margin-bottom: 1rem;
}

#sBName, #sBDate, #sBInput {
    color: rgb(169, 169, 169);
    appearance: none;
    background: rgb(37, 43, 49);
    outline: rgb(29, 34, 39);
    border: solid 1.5px rgb(29, 34, 39) ;
    border-radius: 0.3rem;
}

#sBName:hover, #sBDate:hover, #sBInput:hover {
    opacity: 0.8;
}

#sBName:active, #sBDate:active, #sBInput:active {
    opacity: 0.6;
}

#taskList {
    padding: 0rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: grey;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.taskLi {
    display: flex;
        
    background-color:rgb(37, 43, 49);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.c-taskLi {
    display: flex;
    justify-content: space-around;
    background-color:rgb(37, 43, 49);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    background-image: repeating-linear-gradient(0deg, transparent 0%, transparent 48%, rgba(255, 255, 255, 0.267) 50%, transparent 52%, transparent 100%);
    background-color:rgb(37, 43, 49);
}

.num {
    color: grey;
    flex: 5%;
}

.content {
    text-align: left;
    flex: 60%;
}

.date {
    text-align:right;
    flex: 14%;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }

.actions {
    flex: 25%;
}

.text, .date, .actions {
    color: grey;
}

.actions {
    z-index: 9999999999;
}

.text-edit {
    color: rgb(221, 221, 221);
    background-color:rgb(29, 34, 39);
    padding: 0.1rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.edit, .undo {
    color: grey;
}

.complete {
    color: rgb(193, 147, 63);
}

.delete {
    color: rgb(172, 94, 94);
}

.edit:hover, .delete:hover, .complete:hover, .undo:hover{
    opacity: 0.8;
}

.edit:active, .delete:active, .complete:active, .undo:active{
    opacity: 0.6;
}